body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #555;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #222;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #555;
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
}